<a href="https://colab.research.google.com/github/shkkonda/TransactionClassifier/blob/colab/LazyPay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [8]:
df = pd.read_excel("LazyPay2021_22.xlsx", header=None)

In [9]:
df.head()

                     0
0              LAZYPAY
1  2022-11-01 00:00:00
2                 4064
3           Successful
4               Rapido

In [10]:
new_df = pd.DataFrame({'Name': df[::4].reset_index()[0], 'Date': df[1::4].reset_index()[0], 'Amount': df[2::4].reset_index()[0], 'Status': df[3::4].reset_index()[0]})

In [11]:
new_df.head()

            Name                 Date Amount      Status
0        LAZYPAY  2022-11-01 00:00:00   4064  Successful
1         Rapido  2022-10-21 00:00:00    -79        Paid
2         Rapido  2022-10-21 00:00:00    -79        Paid
3  Urban Company  2022-10-20 00:00:00   -229        Paid
4         Swiggy  2022-10-18 00:00:00   -137        Paid

In [12]:
new_df.groupby('Status').Amount.agg(sum)

Status
Fail            -1984.93
Failed          46915.07
In progress      12783.1
Initiated          -1720
Lazycash              51
Paid          -275862.88
Received           252.9
Refunded          1639.7
Successful     273919.28
Name: Amount, dtype: object

In [13]:
useful_values = ['Lazycash', 'Paid', 'Received', 'Refunded', 'Successful']
rename = ['Cashback', 'Expense', 'Cashback', 'Reversed', 'Repaid']

In [14]:
newer_df = new_df[new_df.Status.isin(useful_values)].replace(useful_values, rename)

In [15]:
newer_df.Name.unique()

array(['LAZYPAY', 'Rapido', 'Urban Company', 'Swiggy',
       'Skyboard Media Private Limited', 'Zepto',
       'Dailydel Solutions Pvt. ltd.', 'Dunzo', 'Zomato',
       'Dominos DPI65784', 'JustWork Technologies Private Limited',
       'LazyPay', 'Practo', 'Goibibo Pvt Ltd', 'INFIBEAM AVENUES LIMITED',
       'Lakshmi Enterprises', 'Bangalore Farm Fruits', 'IMRAN K',
       'Md Farms Fresh Fruits And Vegetable',
       'HealthifyMe Wellness Private Limited', 'SMAAASH',
       'Bangaluru Fresh Fruit', 'Dailydel Solutions Pvt ltd',
       'Laxmi Plywood And Ha', 'M R Xerox', 'BISLERI INTERNATIONAL LTD',
       'CUSTOMER CHOICE', 'Aubree', 'dominosonline', 'Prakasan A K',
       'Riyas', 'Geeta B Hegde', 'Amazon', 'CCAVENUES',
       'CHANDRA VENKATA SUSM', 'Vishwanath', 'Creme Fresh Cake N Snack',
       'N MRUTHYUNJAYA', 'ASHISH RAO', 'A One Chips And Vegetables',
       'Organic Santhe', 'RentomojoRazorpay', 'SIDS FARM PRIVATE LIMITED',
       'Sp Oil And Food Products', 'wwwurbanclapcom', 'VENUKUMAR K',
       'Idea Pharmacy Madhapur', 'CashfreePaymentsIndia',
       'EDUNETWORK PRIVATE LIMITED',
       'Practo technologies Private Limited',
       'Le Travenues Technology Pvt Ltd', 'SABEEHA',
       'PRADEEP BALASAHEB JADHAV', 'Mahammed Fayaz', 'IDEAL SUPERMARKET',
       'GRIP INVEST ADVISORS PRIVATE LIMITED',
       'Manipal Health Enterprises Pvt Ltd',
       'Sri Vinayaga Vegetables And Fruits',
       'Fresh Catch Vegetable And Fruits', 'RAMESH C',
       'MOHAMMED MOHSIN SHAR', 'Le Travenues Technology Private Limited',
       'LeTravenuesTechnologyPrivateLimited', 'OLACABS',
       'INTERGLOBE AVIATION LIMITED', 'JOYALUKKAS INDIA PRIVATE LIMITED',
       'Mr NARAYANA RAO AD', 'HISHIKA Jewellery', 'razorpay', 'Cashfree',
       'B G Distributors Pvt ltd', 'Supr Daily', 'Rentomojo',
       'SUPR TECHLABS PRIVATE LIMITED', 'Bijaram', 'Ravi Fruit Shop',
       'Pure O Natural Kondapur', 'Lazypay', 'SIDSFARM', 'Yaseen Khan',
       'Raju Ak'], dtype=object)

In [50]:
newer_df[newer_df.Name == 'RAMESH C']

         Name       Date  Amount   Status
276  RAMESH C 2021-07-31  -653.0  Expense

In [51]:
mapping = pd.read_excel("LazyPayMapping.xlsx")

In [52]:
mapping.head()

                            input            mapping
0                         LAZYPAY            Lazypay
1                          Rapido             Travel
2                   Urban Company  House Maintenance
3                          Swiggy             Eatout
4  Skyboard Media Private Limited  House Maintenance

In [55]:
final_df = pd.merge(newer_df, mapping, how='left',  left_on='Name', right_on='input')

In [56]:
final_df.head()

            Name       Date  Amount   Status          input            mapping
0        LAZYPAY 2022-11-01  4064.0   Repaid        LAZYPAY            Lazypay
1         Rapido 2022-10-21   -79.0  Expense         Rapido             Travel
2         Rapido 2022-10-21   -79.0  Expense         Rapido             Travel
3  Urban Company 2022-10-20  -229.0  Expense  Urban Company  House Maintenance
4         Swiggy 2022-10-18  -137.0  Expense         Swiggy             Eatout

In [58]:
final_df.groupby('mapping').Amount.agg(sum)

mapping
Eatout               -30423.25
Entertainment         -3649.50
Groceries            -25604.90
Health               -27656.53
House Maintenance     -4690.00
Investments         -158010.00
Lazypay              274223.18
Personal               -600.00
Sports                 -640.00
Travel                -7559.00
Uncategorised         -3085.00
Water                 -4426.00
Work                  -7879.00
Name: Amount, dtype: float64

In [59]:
final_df[final_df.mapping == 'Eatout']

                 Name       Date  Amount   Status             input mapping
4              Swiggy 2022-10-18 -137.00  Expense            Swiggy  Eatout
27             Zomato 2022-06-27 -389.95  Expense            Zomato  Eatout
29             Zomato 2022-06-25 -379.01  Expense            Zomato  Eatout
30   Dominos DPI65784 2022-06-24 -584.00  Expense  Dominos DPI65784  Eatout
31             Zomato 2022-06-23 -743.45  Expense            Zomato  Eatout
..                ...        ...     ...      ...               ...     ...
358            Swiggy 2021-03-22 -247.00  Expense            Swiggy  Eatout
359            Swiggy 2021-03-22 -407.00  Expense            Swiggy  Eatout
360            Swiggy 2021-03-17 -539.00  Expense            Swiggy  Eatout
361            Swiggy 2021-03-17 -197.00  Expense            Swiggy  Eatout
363            Swiggy 2021-03-15 -214.00  Expense            Swiggy  Eatout

[92 rows x 6 columns]